.logo-img {
 width: 200px;
}

.bg-nav {
 background-color: #F4F3F1;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar-ul .nav-link{
 transition: 1.1s;
}

.navbar-ul .nav-link:hover {
  color: #4795A0;
}

[data-bs-theme="dark"] .bg-nav {
 background-color: #1C1C27;
}