.preference-box {
 background-color: #3D8D8D;
 padding: 40px 20px;
}

.text-color {
 color: white;
 font-weight: bold;
}

.card-box-container {
 background-color: #083A5F;
 color: white;
 padding: 20px;
 border-radius: 10px;
 max-width: 280px;
 min-height: 260px;
 transition: 1.1s;
}

.card-box-container:hover {
 transform: scale(1.1);
}

[data-bs-theme="dark"] .card-box-container {
 background-color: #212529;
}

[data-bs-theme="dark"] .preference-box {
 background-color: #1C1C27;
}

[data-bs-theme="dark"] .image-color {
 color: #FE6400;
}