.social-fixed {
 position: fixed;
 bottom: 38%;
 right: 20px;
 display: flex;
 flex-direction: column;
 gap: 20px;
 z-index: 999;
}

.social-btn {
 width: 55px;
 height: 55px;
 border-radius: 50%;
 background-color: #5292e1;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #fff;
 font-size: 28px;
 position: relative;
 overflow: visible;
}

.social-btn::before,
.social-btn::after {
 content: "";
 position: absolute;
 width: 110%;
 height: 110%;
 border-radius: 50%;
 border: 10px solid blue;
 top: -10%;
 left: -10%;
 opacity: 0;
 transform: scale(0);
}

.social-btn::before {
 animation: ripple 1.5s ease-out infinite;
}

.social-btn::after {
 animation: ripple 2.5s ease-out infinite;
 animation-delay: 0.5s;
}

@keyframes ripple {
 0% {
  transform: scale(0);
  opacity: 0.7;
 }

 70% {
  transform: scale(1.8);
  opacity: 0.3;
 }

 100% {
  transform: scale(2);
  opacity: 0;
 }
}

.social-btn.whatsapp {
  background-color: #25d366;
}

.social-btn.instagram {
  background-color: #c13584;
}